footer{
    @apply
    text-gray-600;
    
    .footer__container{
        @apply
        container 
        px-5 
        py-8 
        mx-auto 
        flex 
        items-center 
        sm:flex-row 
        flex-col
        xl:mx-auto
        xl:px-20;

        a{
            @apply
            flex 
            font-medium 
            items-center 
            md:justify-start 
            justify-center 
            text-gray-900;

            img{
                @apply
                h-20
                md:h-24
                lg:h-28;
            }


        }

        p{
            @apply
            text-sm 
            flex
            font-medium
            text-gray-500 
            sm:ml-4 
            sm:pl-4 
            sm:border-l-2 
            sm:border-gray-200 
            sm:py-2 
            sm:mt-0 
            mt-4;

            a{
                @apply
                text-gray-500 
                hover:text-cps-orange-500
                ml-1;
            }
        }

        span{
            @apply
            inline-flex 
            sm:ml-auto 
            sm:mt-0 
            mt-4 
            justify-center 
            sm:justify-start;   

            a{
                @apply
                text-gray-500
                hover:text-cps-orange-500
                p-4
                md:text-xl;

                i{}
            }
        }
    }
}