

<footer>
  <div class="footer__container">
    <a>
      <img src="{{'/static/img/cps-logo-no-bg.png' | url}}" alt="Chicagoland Plumbing Services, Inc.">
    </a>
    <p>© 2021 Chicagoland Plumbing Services, Inc. |
      <a href="{{'/sitemap' | url}}">Sitemap</a>
    </p>
    <span>
      <a href="https://www.facebook.com/chicagolandplumbing">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://bit.ly/3k2b7as">
        <i class="fab fa-google"></i>
      </a>
      <a href="https://www.yelp.com/biz/chicagoland-plumbing-services-mokena">
        <i class="fab fa-yelp"></i>
      </a>
      
    </span>
  </div>
</footer>